In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df=pd.read_csv('/content/drive/MyDrive/train.csv')

In [12]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [13]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [14]:
df = df.fillna(' ')

In [15]:
df.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [16]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [17]:
# df.label = df.label.astype(str)
# df.label = df.label.str.strip()
# dict = { 'REAL' : '1' , 'FAKE' : '0'}
# df['label'] = df['label'].map(dict)
# df['label'] = df.label.map({'1': 1, '0': 0})
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [18]:
x_df = df['text']
y_df = df['label']

In [19]:
from sklearn.feature_extraction.text import TfidfTransformer

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
count_vectorizer = CountVectorizer()
count_vectorizer.fit_transform(x_df)
freq_term_matrix = count_vectorizer.transform(x_df)
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)
print(tf_idf_matrix)

  (0, 153872)	0.008917324755964462
  (0, 153526)	0.04525694700538712
  (0, 153477)	0.010481516602223042
  (0, 153467)	0.010985819002751846
  (0, 152391)	0.04075129071622209
  (0, 152385)	0.08744923236839197
  (0, 152317)	0.03488076752649891
  (0, 152259)	0.0128116266838325
  (0, 151769)	0.026030620204596174
  (0, 151598)	0.024099308037638646
  (0, 151344)	0.00844977869471337
  (0, 150983)	0.03819114847800876
  (0, 150773)	0.008297181008050039
  (0, 150740)	0.02606194149968498
  (0, 150678)	0.025645129931467555
  (0, 150419)	0.01575717573710974
  (0, 150309)	0.011666528031125091
  (0, 150195)	0.026967418755208483
  (0, 150091)	0.01324965093514316
  (0, 149921)	0.057384548118919576
  (0, 149844)	0.01139913947063961
  (0, 149616)	0.05646716940798761
  (0, 148717)	0.026281365915191385
  (0, 148691)	0.019899039240389806
  (0, 148667)	0.01626410083038377
  :	:
  (20799, 6880)	0.014580717229874772
  (20799, 6797)	0.03602806675031722
  (20799, 6424)	0.011485155705407726
  (20799, 5581)	0.017095432173998924
  (20799, 5391)	0.03800127894158689
  (20799, 5356)	0.017857272039316852
  (20799, 5243)	0.03484531744820835
  (20799, 4818)	0.02161399868447341
  (20799, 4459)	0.012736318705972175
  (20799, 4441)	0.01603467848751772
  (20799, 3868)	0.027115621308844203
  (20799, 3762)	0.0186101104051801
  (20799, 3687)	0.02729335307674394
  (20799, 2675)	0.02856127283914947
  (20799, 2370)	0.018974752015082967
  (20799, 2325)	0.04198473526032595
  (20799, 2168)	0.23404867195924858
  (20799, 2043)	0.017569314877382603
  (20799, 1992)	0.013238470109795899
  (20799, 1449)	0.018351396979987927
  (20799, 1443)	0.025505577173836502
  (20799, 1407)	0.020014454383024523
  (20799, 687)	0.03230892420342383
  (20799, 392)	0.013073588918924855
  (20799, 1)	0.03251709019629798

In [21]:
# Splitting the data into test data and train data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,y_df, random_state=0)

In [22]:
df.isnull().any().any()
df.isnull().any()

id        False
title     False
author    False
text      False
label     False
dtype: bool

In [23]:
df['label'] = df['label'].fillna(0)

In [24]:
print(x_train)

  (0, 154088)	0.029960684851232176
  (0, 153872)	0.012669592641059714
  (0, 153834)	0.009880743774284105
  (0, 153624)	0.030551265469318283
  (0, 153467)	0.02341271436259781
  (0, 153152)	0.04737115076163203
  (0, 152608)	0.011099594355524892
  (0, 152592)	0.01343240350955801
  (0, 152578)	0.0167826197673998
  (0, 152416)	0.030958936984338666
  (0, 152301)	0.01404801817246527
  (0, 152102)	0.016842285910483947
  (0, 152100)	0.021819475912904587
  (0, 152069)	0.012523832389865732
  (0, 151769)	0.02773791719028033
  (0, 151583)	0.01543491358622316
  (0, 151344)	0.0060026553309902985
  (0, 151241)	0.10943204736180717
  (0, 151179)	0.17076431729414368
  (0, 151048)	0.009612359139725388
  (0, 150989)	0.0520128196561676
  (0, 150983)	0.03255682440321301
  (0, 150820)	0.02522533775631901
  (0, 150787)	0.007530530141903885
  (0, 150773)	0.023577004610226656
  :	:
  (15599, 22901)	0.16395205534865112
  (15599, 17017)	0.06089886323753163
  (15599, 16556)	0.04335128734365827
  (15599, 16199)	0.0561987443169707
  (15599, 14386)	0.07914079889915891
  (15599, 12826)	0.05073747118428293
  (15599, 12540)	0.027922614973880534
  (15599, 11271)	0.08185396144448398
  (15599, 11185)	0.02894122776826086
  (15599, 10563)	0.03676119851015511
  (15599, 10561)	0.0953865829022153
  (15599, 10554)	0.04804621659850199
  (15599, 9172)	0.10618193777748834
  (15599, 8989)	0.02891945560882681
  (15599, 8832)	0.02890923085372995
  (15599, 8661)	0.08595588191075816
  (15599, 8191)	0.017747306565672107
  (15599, 6382)	0.018080442789091298
  (15599, 5606)	0.038918535911272145
  (15599, 5366)	0.0399105703033619
  (15599, 4561)	0.037996514487599276
  (15599, 4554)	0.04869670125930654
  (15599, 1551)	0.04426071711101491
  (15599, 1395)	0.03243423155099434
  (15599, 252)	0.03553127697205238

In [25]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)
print(Accuracy*100)

94.23076923076923